APP_PORT=3000
APP_HOST=0.0.0.0
NODE_ENV=local

LOGS_PATH = /home/logs

HEALTH_CHECK_KEY=123456a@

DATABASE_DIALECT=postgres
DATABASE_NAME=db
DATABASE_HOST=0.0.0.0
DATABASE_PORT=5432
DATABASE_USERNAME=user
DATABASE_PASSWORD=password
DATABASE_LOGGING=true